<div class="row">
    <div class="col-lg-11 col-md-11 col-xs-1">
        <div class="row">
            <div class="container d-flex justify-content-between header-section">
                <div></div>
                <div>
                    <button mat-button [matMenuTriggerFor]="animals"><i
                            class="icon-top fa-solid fa-filter"></i></button>
                    <a><i class="icon-top bi bi-arrow-down-up px-4"></i></a>
                </div>
                <mat-menu #animals="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="vertebrates">Status</button>
                    <button mat-menu-item [matMenuTriggerFor]="invertebrates">Enquiry Type</button>
                    <button mat-menu-item [matMenuTriggerFor]="fish">Vehical Type</button>
                    <button mat-menu-item [matMenuTriggerFor]="amphibians">State</button>
                    <button mat-menu-item [matMenuTriggerFor]="reptiles">City</button>
                </mat-menu>

                <mat-menu #vertebrates="matMenu" class="p-2">
                    <mat-option *ngFor="let status of statusFilter" [value]="status.value">
                        <mat-checkbox class="checkbox">
                            <button mat-menu-item> {{status.viewValue}}</button>
                        </mat-checkbox>
                    </mat-option>
                </mat-menu>

                <mat-menu #invertebrates="matMenu" class="p-2">
                    <mat-option *ngFor="let enquiry of enquiryFilter" [value]="enquiry.value">
                        <mat-checkbox class="checkbox">
                            <button mat-menu-item> {{enquiry.viewValue}}</button>
                        </mat-checkbox>
                    </mat-option>
                </mat-menu>

                <mat-menu #fish="matMenu" class="p-2">
                    <mat-option *ngFor="let vehical of  vehicalFilter" [value]="vehical.value">
                        <mat-checkbox class="checkbox">
                            <button mat-menu-item> {{vehical.viewValue}}</button>
                        </mat-checkbox>
                    </mat-option>
                </mat-menu>

                <mat-menu #amphibians="matMenu" class="p-2">
                    <mat-option *ngFor="let state of stateFilter" [value]="state.value">
                        <mat-checkbox class="checkbox">
                            <button mat-menu-item> {{state.viewValue}}</button>
                        </mat-checkbox>
                    </mat-option>
                </mat-menu>

                <mat-menu #reptiles="matMenu" class="p-2">
                    <mat-option *ngFor="let city of cityFilter" [value]="city.value">
                        <mat-checkbox class="checkbox">
                            <button mat-menu-item> {{city.viewValue}}</button>
                        </mat-checkbox>
                    </mat-option>
                </mat-menu>
            </div>

            <div class="outer">
                <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport">
                    <div class="container example-item" *cdkVirtualFor="let dt of userData">
                        <div class="mt-3">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <div (click)="$event.stopPropagation()">
                                                <mat-checkbox class="example-margin"></mat-checkbox>
                                            </div>
                                            <div class="container aline">
                                                <div class="row mt-2 aline">
                                                    <div class="col-lg-3 col-md-3 desktop-view">
                                                        <div class="form-check" (click)="$event.stopPropagation()">
                                                            <h4>{{dt.name}}</h4>
                                                            <p>{{dt.phoneNo}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 desktop-view">
                                                        <select (click)="$event.stopPropagation()">
                                                            <option *ngFor="let sk of EnquiryStatusOption">{{ sk }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-3  col-md-3 desktop-view">
                                                        <p>{{dt.email}}</p>
                                                    </div>
                                                    <div class="col-lg-3  col-md-3 desktop-view">
                                                        <p>{{dt.registrationNumber}}</p>
                                                    </div>
                                                    <div class="mobile-view">
                                                        <div class="row pt-3">
                                                            <div class="d-flex justify-content-between pt-2">
                                                                <p (click)="$event.stopPropagation()">
                                                                    <app-label-showmore [text]="dt.name"
                                                                        [wordLimit]="8"></app-label-showmore>
                                                                </p>
                                                                <p>{{dt.phoneNo}}</p>
                                                            </div>
                                                            <div class="d-flex justify-content-between pb-3">
                                                                <p><select (click)="$event.stopPropagation()">
                                                                        <option *ngFor="let sk of EnquiryStatusOption">
                                                                            {{ sk }}
                                                                        </option>
                                                                    </select></p>
                                                                <p>
                                                                    <app-label-showmore [text]="dt.registrationNumber"
                                                                        [wordLimit]="10"></app-label-showmore>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="container mt-4">
                                        <div class="row pt-3">
                                            <div class="col-lg-3 col-md-3">
                                                <p class="title">State</p>
                                                <h4>{{dt.state}}</h4>
                                            </div>
                                            <div class="col-lg-3 col-md-3">
                                                <p class="title">City</p>
                                                <h4>{{dt.city}}</h4>
                                            </div>
                                            <div class="col-lg-3 col-md-3">
                                                <p class="title">Vehical Type</p>
                                                <h4>{{dt.vehicleType}}</h4>
                                            </div>
                                            <div class="col-lg-3 col-md-3">
                                                <p class="title">Vehicle Make Year</p>
                                                <h4>{{dt.vehicleMakeYear}}</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3">
                                                <p class="title">Registration Number</p>
                                                <h4>{{dt.registrationNumber}}</h4>
                                            </div>
                                            <div class="col-lg-3 col-md-3">
                                                <p class="title">Down Payment</p>
                                                <h4>{{dt.downPayment}}</h4>
                                            </div>
                                            <div class="col-lg-3 col-md-3">
                                                <p class="title">Daily Commute</p>
                                                <h4>{{dt.dailyCommute}}</h4>
                                            </div>
                                            <div class="col-lg-3 col-md-3">
                                                <p class="title">Email</p>
                                                <h4>{{dt.email}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>
            <div class="col-lg-1 col-md-1 col-xs-1 button-section">
                <div class="">
                    <a><i class="fa-solid fa-circle-plus add-user" (click)="openDialog()"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>