.icon-top {
    color: #18b46b;
    padding-left: 24px;
    font-size: large;
}

.mat-badge {
    color: #18b46b;
    font-size: large;
}

.icon {
    color: #18b46b;
    padding-left: 18px;
    font-size: large;
}

.add-user {
    color: #18b46b;
    font-size: 7vh;
    position: fixed;
    bottom: 70px;
    text-align: center;
    right: 4vh;
}

.edit-user {
    color: #18b46b;
    font-size: 7vh;
    position: fixed;
    bottom: 10px;
    text-align: center;
    right: 4vh;
}

.text {
    text-decoration: auto;
    color: #18b46b;
    font-size: medium;
    margin-left: 4vh;
}

::ng-deep .langSelect div.mat-select-arrow-wrapper {
    display: none;
}

.button-section {
    float: right;
    right: -30px;
    position: absolute;
}

.example-viewport {
    height: calc(100vh - 95px);
    width: 100%;
}

.outer {
    display: flex;
    align-self: center;
}

mat-expansion-panel-header {
    height: 100px;
}

.mobile-view {
    display: none !important;
}

.desktop-view {
    display: block !important;
}

.a-icon {
    float: right;
    padding-right: 5vh;
}

p.title {
    color: gray;
}

h4 {
    font-weight: 500;
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
}

.example-tree div[role=group]>.mat-tree-node {
    padding-left: 40px;
}

.checkbox {
    display: grid;
    justify-content: flex-start;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #18b46b !important;
}


@media(max-width:500px) {

    .mobile-view {
        display: block !important;
        padding-left: 8vh;
    }

    .desktop-view {
        display: none !important;
    }

    mat-expansion-panel-header {
        height: 100%;
    }

    .icon-top {
        color: #18b46b;
        padding-left: 18px;
        font-size: larger;
    }

    .icon {
        color: #18b46b;
        padding-left: 10px;
        font-size: larger;
    }

    .aline {
        padding: 0;
    }
}