<div class="d-flex justify-content-between header-section">
  <button mat-icon-button *ngIf="leftSidenav.mode === 'over'" (click)="leftSidenav.toggle()">
    <mat-icon *ngIf="!leftSidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="leftSidenav.opened">
      close
    </mat-icon>
  </button>
  <div class="menu-right">
    <button mat-icon-button *ngIf="rightSidenav.mode === 'over'" (click)="rightSidenav.toggle()">
      <mat-icon *ngIf="!rightSidenav.opened">
        more_vert
      </mat-icon>
      <mat-icon *ngIf="rightSidenav.opened">
        close
      </mat-icon>
    </button>
  </div>
</div>

<mat-sidenav-container>
  <mat-sidenav #leftSidenav="matSidenav">
    <ul class="list-unstyled py-2">
      <li class="nav-item" routerLinkActive="Active rounded">
        <a class="nav-link" routerLink="lead-list">
          <i class="fa-solid fa-user me-3 sidenav-icon"></i>Lead List
        </a>
      </li>
      <li class="nav-item" routerLinkActive="Active rounded">
        <a class="nav-link" routerLink="my-followups">
          <i class="fa-solid fa-calendar-day me-3 sidenav-icon"></i>My
          Followups</a>
      </li>
      <li class="nav-item" routerLinkActive="Active rounded">
        <a class="nav-link" routerLink="failed-leads">
          <i class="bii bi-person-x-fill me-3 sidenav-icon"></i>Failed
          Leads</a>
      </li>
      <li class="nav-item" routerLinkActive="Active rounded">
        <a class="nav-link" routerLink="marketing">
          <i class="fa-solid fa-bullhorn me-3 sidenav-icon"></i>Marketing</a>
      </li>
      <li class="nav-item" routerLinkActive="Active rounded">
        <a class="nav-link" routerLink="drip-marketing">
          <i class="fa-solid fa-spa me-3 sidenav-icon"></i>Drip
          Marketing</a>
      </li>
      <li class="nav-item" routerLinkActive="Active rounded">
        <a class="nav-link" routerLink="reports">
          <i class="fa-solid fa-chart-area me-3 sidenav-icon"></i>Report</a>
      </li>
    </ul>
  </mat-sidenav>

  <div class="desktop">
    <nav class="navbar navbar-expand-sm fs-6 px-1 mt-0">
      <div class="container-fluid">
        <ul class="nav navbar-nav list-inline ">
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="all">All</a>
          </li>
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="#">Fresh</a>
          </li>
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="follow-up">Follow-up</a>
          </li>
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="walkin">Walkin</a>
          </li>
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="in-future">In Future</a>
          </li>
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="won">Won</a>
          </li>
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="closed">Closed</a>
          </li>
          <li class="nav-item px-2 " routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="re-enquired">Re-Enquired</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <mat-sidenav #rightSidenav="matSidenav" position="end">
    <nav class="navbar navbar-expand-sm fs-6 px-1 mt-0">
      <div class="container-fluid">
        <ul class="nav navbar-nav list-inline ">
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="all">All</a>
          </li>
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="#">Fresh</a>
          </li>
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="follow-up">Follow-up</a>
          </li>
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="walkin">Walkin</a>
          </li>
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="in-future">In Future</a>
          </li>
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="won">Won</a>
          </li>
          <li class="nav-item px-2" routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="closed">Closed</a>
          </li>
          <li class="nav-item px-2 " routerLinkActive="Active rounded">
            <a class="nav-link" routerLink="re-enquired">Re-Enquired</a>
          </li>
        </ul>
      </div>
    </nav>
  </mat-sidenav>
  <div class="div">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>