.Active {
    background-color: #18b46b;
    color: white;
}

.container-fluid {
    border-bottom: solid #18b46b 2px;
    margin-right: 110px;
}

.mat-sidenav-container {
    background-color: white;
    width: auto;
    height: 100%;
    margin: 0px;
}

.mat-sidenav {
    background-color: whitesmoke;
}

.mat-sidenav-content {
    overflow-x: hidden;
}

.sidenav-icon {
    color: #18b46b;
    font-size: large;
}

.Active .sidenav-icon{
    color: white;
}

.Active .nav-link {
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

.nav-link {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    display: block;
    color: #000;
}

.menu-right {
    display: none;
}

.mobile-view {
    display: none;
}

.desktop-view {
    display: block;
}

.mobile {
    display: none;
}

.disktop {
    display: block;
}

@media(max-width:768px) {

    .container-fluid {
        border-bottom: solid #18b46b 2px;
        margin-right: 0;
    }

    .menu-right {
        display: block;
    }

    .mobile-view {
        display: block;
    }

    .desktop-view {
        display: none;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}