@import "~bootstrap/dist/css/bootstrap.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* mat-expansion-panel-header {
    height: 100px !important;
} */